@tailwind components;
@tailwind utilities;
html{
	font-size: 16px !important; 
}
html,
body {
	overflow-x: hidden;
	overflow-y: auto;
}
body {
	margin: 0;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}
input[type='number'] {
	appearance: textfield;
}

* {
	font-family: Poppins, sans-serif;
	transition: background 0.3s, fill 0.3s, stork 0.3s, color 0.3s,
		box-shadow 0.3s;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@layer components {
	/* 
        demo for antd
        .{app-prefix}-wrapper {
            .ant-layout {
                background: #fff;
            }
        }
    */
}

.portkey-ui-wrapper {
	height: 100% !important;
}

.etransfer-ui-wrapper {
	height: 100% !important;
}

.etransfer-ui-deposit-detail-drawer, .etransfer-ui-common-drawer {
	z-index: 9999 !important;
} 

.etransfer-ant-modal-wrap {
	z-index: 10000 !important;
	.etransfer-ui-common-svg {
		display:  inline-flex !important;
	}
}

.transactions-settings-modal.portkey-trade-ant-modal{
	.confirm-modal-btnWrap .portkey-trade-ant-btn{
		@apply !bg-brandDefault hover:bg-brandHover active:bg-brandPressed border-none;
	}
	.fee-item{
		@apply border-brandDisable;
	}
	.fee-item-ative {
		@apply border-brandDefault text-brandDefault;
	}
	.portkey-trade-ant-input-affix-wrapper.fee-input{
		@apply hover:border-brandHover active:border-brandPressed;
	}
}

.swap-confirm-modal.portkey-trade-ant-modal{
	.swap-confirm-modal-btn{
		@apply !bg-brandDefault hover:bg-brandHover active:bg-brandPressed border-none;
	}
}

.portkey-trade-ant-drawer-content.swap-confirm-modal {
	.portkey-trade-ant-btn.swap-confirm-modal-btn{
		@apply !bg-brandDefault hover:bg-brandHover active:bg-brandPressed border-none;
	}

}

.tips-modal-m.portkey-trade-ant-modal{
	.tips-content .ok-btn{
		@apply !bg-brandDefault hover:bg-brandHover active:bg-brandPressed border-none !text-white;
	}
}

.earn-notification-notice-wrapper{
	overflow: hidden !important;
}

.earn-notification-notice{
	margin-bottom: 0 !important;
}

.earn-message {
  @apply z-[100100];
}

